
@*@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>接龙设置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="~/css/x-admin.css" media="all">
    <link rel="stylesheet" href="~/css/pag.css" media="all">

    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/js/My97DatePicker/My97DatePicker/WdatePicker.js"></script>
</head>

<body>
    <div id="app" class="x-body">
        <div style="margin:0 auto">
            <div>
                <span style="float:left;margin-right:20px">接龙班次</span>
                <select lay-verify="required" name="cid" class="layui-input" style="width:66px;float:left" v-model="classesId">
                    <option v-for="classes in ClassesList" v-bind:value="classes.Id">{{classes.ClassesName}}</option>

                </select>
            </div>
            <div style="margin-left:500px">
                <span style="float:left;margin-right:20px">接龙班次</span>
                <div style="float:left">
                    <div><span style="background-color:darkviolet">开始时间</span><input id="Text1" type="text" onclick="WdatePicker()" v-model="startTime" /></div>
                    <div><span style="background-color:aquamarine">结束时间</span><input id="Text1" type="text" onclick="WdatePicker()" v-model="endTime" /></div>

                </div>
            </div>
        </div>
        <div style="margin-top:150px">
            <table class="tablelist" border="1">
                <thead>
                    <tr>  <th colspan="4" style="text-align:center">组员设置</th></tr>
                    <tr>

                        <th>组序</th>
                        <th> 人员 </th>
                        <th> 组长</th>
                        <th> </th>

                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(chainsGroup,index) in chainsGroupList">
                        <td><input type="text" v-model="chainsGroup.SortNumber" /></td>
                        <td onclick="user_management_edit('人员设置','/Solitaire/AddMember','800','500')">
                            <input type="text" v-model="chainsGroup.GropCrew" />
                        </td>
                        <td v-if="gropCrewList!=''">

                            <select lay-verify="required" name="cid" class="layui-input" v-model="chainsGroup.GroupLeader">
                                <option v-for="gropCrewx in gropCrewList" v-bing:value="gropCrewx">{{gropCrewx}}</option>
                            </select>
                        </td>
                        <td v-else></td>
                        <td>+</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="width:200px;margin:50px auto">
            <button class="layui-btn" v-onclick="addChains(classesId,startTime,endTime,)"> 保存 </button>
            <button class="layui-btn" style="float:right"> 取消 </button>
        </div>
    </div>
    <script src="~/lib/layui/layui.js" charset="utf-8">
    </script>
    <script src="~/js/x-layui.js" charset="utf-8">
    </script>
    <script>
        layui.use(['form', 'layer'], function () {
            $ = layui.jquery;
            var form = layui.form()
                , layer = layui.layer;
        });
        function user_management_edit(title, url, w, h) {
            x_admin_show(title, url, w, h);
        }
    </script>


    <script type="text/javascript">
        var vm = new Vue({
            el: "#app",
             data: {
                 SolitaireList: [],
                 ClassesList: [],
                 chainsGroupList: [],
                 gropCrewList:[]
            },
            mounted() {
                this.getAllSolitaires();
                this.getClassesList();
            },
            methods: {
                getChainsGroupList:function () {
                     axios.get('@Url.Action("ChainsGroupList", "Solitaire")'
                    ).then(
                        (response) => {
                            this.SolitaireList = [];
                            for (var i = 0; i < response.data.length; i++) {
                                this.ClassesList.push(response.data[i]);
                            }

                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                getClassesList: function () {
                     axios.get('@Url.Action("ClassesList", "Solitaire")'
                    ).then(
                        (response) => {
                            this.SolitaireList = [];
                            for (var i = 0; i < response.data.length; i++) {
                                this.ClassesList.push(response.data[i]);
                            }

                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                addChains: function (name) {
                    axios.post('@Url.Action("AddSolitaire", "Solitaire")', { Solitaire: { SolitaireName: name} }).then(
                        (response) => {
                            this.SolitaireList = [];
                            for (var i = 0; i < response.data.length; i++) {
                                this.SolitaireList.push(response.data[i]);
                            }
                            this.SolitaireList.push({ Id: "", SolitaireName: "" });
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                getAllSolitaires: function () {
                    axios.get('@Url.Action("SelectSolitaire", "Solitaire")'
                    ).then(
                        (response) => {
                            this.SolitaireList = [];
                            for (var i = 0; i < response.data.length; i++) {
                                this.SolitaireList.push(response.data[i]);
                            }
                            this.SolitaireList.push({ Id: "", SolitaireName: "" });
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },

                updateSolitaire: function (id, name) {
                    axios.post('@Url.Action("UpdateSolitaire", "Solitaire")', { Solitaire: { Id: id, SolitaireName: name} }).then(
                        (response) => {
                            this.SolitaireList = [];
                            for (var i = 0; i < response.data.length; i++) {
                                this.SolitaireList.push(response.data[i]);
                            }
                            this.SolitaireList.push({ Id: "", SolitaireName: ""});
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                deleteSolitaireById: function (id) {
                    axios.post('@Url.Action("DelSolitaire", "Solitaire")', { id: id }).then(
                        (response) => {
                            this.SolitaireList = [];
                            for (var i = 0; i < response.data.length; i++) {
                                this.SolitaireList.push(response.data[i]);
                            }
                            this.SolitaireList.push({ Id: "", SolitaireName: "" });
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                }
            }
        })
    </script>
</body>
</html>*@