
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <link href="~/css/pag.css" rel="stylesheet" media="all" />
    <link href="~/css/css.css" rel="stylesheet" media="all" />
    <link href="~/css/x-admin.css" rel="stylesheet" media="all" />
</head>
<body style="background-color:#ffffff">
    <div id="app" class="x-body">
        <table class="tablelist">
            <tr>
                <td>业务名称：</td>
                <td>
                    <select id="Select1" v-model="ApprovalName">
                        <option value="请选择">--请选择--</option>
                        <option v-for="item in ApprovalList" v-bind:value="item.Id">
                            {{item.ApprovalName}}
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>配置流程编码：</td>
                <td>
                    <input id="Text1" type="text" v-model="FlowCode" />
                </td>
            </tr>
            <tr>
                <td>科室名称：</td>
                <td>
                    <select id="Select1" v-model="DepartmentID">
                        <option value="请选择">--请选择--</option>
                        <option v-for="item in DepartmentList" v-bind:value="item.Id">
                            {{item.DepartmentName}}
                        </option>
                    </select>

                </td>
            </tr>
            <tr>
                <td>条件名称：</td>
                <td>
                    <select id="Select1" v-model="Conditions">
                        <option value="请选择">--请选择--</option>
                        <option v-for="item in ConditionList" v-bind:value="item.Id">
                            {{item.Conditions}}
                        </option>
                    </select>

                </td>
            </tr>
            <tr v-if="iDutyName">
                <td>审批状态：</td>
                <td>
                    <input id="Text1" type="text" v-model="ApprovalStatus" />
                </td>
            </tr>
            <tr>
                <td>审批类型：</td>
                <td>
                    <input id="Radio1" type="radio" value="主管（指定一级）" v-model="ApprovalType" />主管（指定一级）
                    <input id="Radio1" type="radio" value="主管（指定多级）" v-model="ApprovalType" />主管（指定多级）
                    <input id="Radio1" type="radio" value="指定成员" v-model="ApprovalType" />指定成员
                    <input id="Radio1" type="radio" value="指定角色" v-model="ApprovalType" />指定角色
                    <input id="Radio1" type="radio" value="发起人自己" v-model="ApprovalType" />发起人自己
                </td>
            </tr>
            <tr v-if="Loops">
                <td>审批方式：</td>
                <td>
                    <div v-if="Loop">
                        <input id="Radio1" type="radio" value="依次审批" v-model="ApprovalWay" />依次审批
                    </div>
                    <div v-if="Loop1">
                        <input id="Radio1" type="radio" value="或签（一名审批人同意或拒绝）" v-model="ApprovalWay" />或签（一名审批人同意或拒绝）
                    </div>
                    <div v-if="Loop2">
                        <input id="Radio1" type="radio" value="会签（需所有审批人同意）（不可多选）" v-model="ApprovalWay" />会签（需所有审批人同意）（不可多选）
                    </div>
                    
                </td>
            </tr>
            <tr>
                <td>申请人职务</td>
                <td>
                    <select id="Select1" v-model="DutyName">
                        <option value="请选择">--请选择--</option>
                        <option v-for="item in DutyList" v-bind:value="item.Id">
                            {{item.DutyName}}
                        </option>
                    </select>

                </td>
            </tr>
            <tr v-if="role">
                <td >审核人职务</td>
                <td>
                    <select id="Select1" v-model="DutyNames">
                        <option value="请选择">--请选择--</option>
                        <option v-for="item in DutyLists" v-bind:value="item.Id">
                            {{item.DutyName}}
                        </option>
                    </select>

                </td>
            <tr v-if="multistep">
                <td>审批起点</td>
                <td>
                    <select id="Select1" v-model="StartApproval">
                        <option value="请选择">--请选择--</option>
                        <option v-for="StartApproval in StartList" v-bind:value="StartApproval.StartApproval">
                            {{StartApproval.name}}
                        </option>
                    </select>
                </td>
            </tr>
            <tr v-if="multisteps">
                <td>审批终点</td>
                <td>
                    <select id="Select1" v-model="LastApproval">
                        <option value="请选择">--请选择--</option>
                        <option v-for="LastApproval in LastList" v-bind:value="LastApproval.LastApproval">
                            {{LastApproval.name}}
                        </option>
                    </select>
                </td>
            </tr>
            <tr  v-if="Approver">
                <td>审批人</td>
                <td>
                    <span v-for="itme in UserList">
                        <input id="Checkbox1" type="checkbox" v-model="UserName" :value="itme.Id"/>
                        {{itme.UserName}}
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" v-on:click="Add(ApprovalName, FlowCode, DepartmentID, Conditions, ApprovalStatus, ApprovalType, ApprovalWay, DutyName,DutyNames, StartApproval, LastApproval, UserName)">保存</a>
                </td>
                <td>
                    <a href="#" onclick="location.href='/Approvalflow/Show'"><span><img src="~/images/t06.png" /></span>显示</a>
                </td>
            </tr>
        </table>
    </div>
    <script src="~/js/x-layui.js" charset="utf-8"></script>
    <script src="~/lib/layui/layui.js" charset="utf-8"></script>
    <script src="~/js/jquery2.js" charset="utf-8"></script>
    <script src="~/js/js.js" charset="utf-8"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script>
        /*添加*/
        function new_add(title, url, w, h) {
            x_admin_show(title, url, w, h);
        }
        $('.tablelist tbody tr:odd').addClass('odd');
        // 编辑
        function data_management_look(title, url, id, w, h) {
            x_admin_show(title, url, w, h);
        }

    </script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                Loops: false,
                Loop2: false,
                Loop1: false,
                Loop: false,
                multisteps: false,
                iDutyName: false,
                ///指定角色
                role: false,
                ///指定多级
                multistep: false,
                Approver: false,
                aaa:[],
                listShow: false,
                search: '',
                data1: {
                    type: Array,
                    default: []
                },
                //科室
                DepartmentList: [],
                DepartmentID: "",
                //职务
                DutyList: [],
                DutyName: "请选择",
                //职务
                DutyLists: [],
                DutyNames: "请选择",
                //职务
                ConditionList: [],
                Conditions: "请选择",
                //职务
                ApprovalList: [],
                ApprovalName: "请选择",
                //职务
                UserList: [],
                UserName: [],
                StartList: [{ StartApproval: 1, name: 'N0' }, { StartApproval: 2, name: 'N1' }, { StartApproval: 3, name: 'N2' }, { StartApproval: 4, name: 'N3' }, { StartApproval: 5, name: 'N4' }],
                StartApproval: "请选择",

                LastList: [{ StartApproval: 1, name: 'N0' }, { StartApproval: 2, name: 'N1' }, { StartApproval: 3, name: 'N2' }, { StartApproval: 4, name: 'N3' }, { StartApproval: 5, name: 'N4' }],
                LastApproval: "请选择",
                FlowCode: "",
                ApprovalStatus: "",
                ApprovalType: "",
                ApprovalWay: "",
                LastApproval:"",
                StartApproval:"",
            },
            watch: { // 监视双向绑定的数据数组
                DepartmentID: function (newvalue, oldvalue) {
                    console.log(newvalue)
                    this.getUserList(newvalue);
                    //this.UserName = [];

                },
                ApprovalType: function (newvalue, oldvalue) {
                    console.log(newvalue)
                    if (newvalue == "指定成员") {
                        this.Approver = true;
                        this.multistep = false;
                        this.role = false;
                        this.multisteps = false;
                        this.Loop = false;
                        this.Loop1 = true;
                        this.Loop2 = true;
                        this.Loops = true;
                    }
                    if (newvalue == "主管（指定多级）") {
                        this.multistep = true;
                        this.multisteps = true;
                        this.role = false;
                        this.Approver = false;
                        this.Loop = true;
                        this.Loops = true;
                        this.Loop1 = false;
                        this.Loop2 = false;
                    }
                    if (newvalue == "指定角色") {
                        this.role = true;
                        this.Approver = false;
                        this.multistep = false;
                        this.multisteps = false;
                        this.Loop = false;
                        this.Loop1 = false;
                        this.Loop2 = false;
                        this.Loops = false;
                    }
                    if (newvalue == "发起人自己") {
                        this.role = false;
                        this.Approver = false;
                        this.multistep = false;
                        this.multisteps = false;
                        this.Loop = false;
                        this.Loop1 = false;
                        this.Loop2 = false;
                        this.Loops = false;
                    }
                    if (newvalue == "主管（指定一级）") {
                        this.multistep = true;
                        this.role = false;
                        this.Approver = false;
                        this.multisteps = false;
                        this.Loop = false;
                        this.Loop1 = true;
                        this.Loop2 = true;
                        this.Loops = true;
                    }
                },
                //UserList: function (newvalue, oldvalue) {
                //},
                //UserList: function (newvalue, oldvalue) {
                //    this.UserName = [];
                //    for (var i = 0; i < newvalue.length; i++) {
                //        this.UserName.push(newvalue[i].UserName);
                //    }
                //},
                search: {
                    handler() {//搜索框输入变化触发
                        this.listShow = true;
                    },
                    deep: true // 深度监视
                }
            },
            mounted() {
                this.getDepartmentList();
                this.getDutyList();
                this.getDutyLists();
                this.getApprovalList();
                this.getUserList();
                this.getConditionList();
            },
             methods: {
                 Add: function (ApprovalName, FlowCode, DepartmentID, Conditions, ApprovalStatus, ApprovalType, ApprovalWay, DutyName, DutyNames, StartApproval, LastApproval, UserName) {
                     console.log(UserName.join(','))
                     axios.post('@Url.Action("Add", "Approvalflow")', { approvalflow: { ApprovalID: ApprovalName, FlowCode: FlowCode, DepartmentID: DepartmentID, ConditionID: Conditions, ApprovalStatus: ApprovalStatus, ApprovalType: ApprovalType, ApprovalWay: ApprovalWay, DutyID: DutyName, DutyIDs: DutyNames, StartApproval: StartApproval, LastApproval: LastApproval, UserIDs: UserName.join(',')} }).then(

                         (response) => {
                            if (response.data > 0) {
                                alert("保存成功")
                            }
                            else {
                                alert("已有该个配置信息")
                            }
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                 },
                 ///获取审批条件的下拉菜单
                getConditionList: function () {
                    axios.get('@Url.Action("Shows", "Approvalcondition")').then(
                        (response) => {
                            console.log(response)
                            this.ConditionList = response.data;
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                  ///获取业务下拉菜单
                getApprovalList: function () {
                    axios.get('@Url.Action("Shows", "Approval")').then(
                        (response) => {
                            console.log(response)
                            this.ApprovalList = response.data;
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                ///获取科室的下拉菜单
                getDepartmentList: function () {
                    axios.get('@Url.Action("GetDepartments", "Users")').then(
                        (response) => {
                            console.log(response)
                            this.DepartmentList = response.data;
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                ///获取职务的下拉菜单
                getDutyList: function () {
                    axios.get('@Url.Action("GetDuties", "Users")').then(
                        (response) => {
                            console.log(response)
                            this.DutyList = response.data;
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                 },
                 ///获取职务的下拉菜单
                getDutyLists: function () {
                    axios.get('@Url.Action("GetDuties", "Users")').then(
                        (response) => {
                            console.log(response)
                            this.DutyLists = response.data;
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                 },
                 ///获取用户的下拉菜单
                 getUserList: function (DepartmentID) {
                     axios.post('@Url.Action("GetUser", "Approvalflow")', { DepartmentID: DepartmentID }).then(
                        (response) => {
                            console.log(response.data)
                            this.UserList = response.data;
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                 },
                 checkAll(e) { // 点击全选事件函数
                     var checkObj = document.querySelectorAll('.checkItem'); // 获取所有checkbox项
                     if (e.target.checked) { // 判定全选checkbox的勾选状态
                         for (var i = 0; i < checkObj.length; i++) {
                             if (!checkObj[i].checked) { // 将未勾选的checkbox选项push到绑定数组中
                                 this.UserList.push(checkObj[i].value);
                             }
                         }
                     } else { // 如果是去掉全选则清空checkbox选项绑定数组
                         this.UserList = [];
                     }
                 },
                 show() {
                     this.listShow = !this.listShow;
                     if (this.listShow == true) {
                     }
                 },
            }
        })
    </script>
</body>
</html>
