
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/vue.js"></script>
</head>
<body>
    <div id="app">
        <table>
            <tr>
                <th>序号</th>
                <th>姓名</th>
                <th>工号</th>
                <th>科室</th>
                <th>职务</th>
                <th>层级</th>
                <th>年假天数</th>
                <th>入职时间</th>
            </tr>
            <tr v-for="(contact,key,index) in UserList">

                <td><input id="Text1" type="text" v-model="contact.Id" /></td>

                <td><input id="Text1" type="text" v-model="contact.UserName" /></td>

                <td><input id="Text1" type="text" v-model="contact.UserNumber" /></td>

                <td>
                    <select id="Select1" v-model="contact.DepartmentID">
                        <option value="请选择">--请选择--</option>
                        <option v-for="contact in DepartmentList" v-bind:value="contact.Id">
                            {{contact.DepartmentName}}
                        </option>
                    </select>

                </td>

                <td>
                    @*<select id="Select1" v-model="DutyName"></select>*@
                    @*<select id="Select1" v-model="DutyName">
            <option value="请选择">--请选择--</option>
            <option v-for="item in DutyList" v-bind:value="item.Id">
                {{item.DutyName}}
            </option>
        </select>*@
                </td>

                <td>
                    @*<select id="Select1" v-model="TierName"></select>*@
                    <select id="Select1" v-model="contact.TierID">
                        <option value="请选择">--请选择--</option>
                        <option v-for="contact in TierList" v-bind:value="contact.Id">
                            {{contact.TierName}}
                        </option>
                    </select>
                </td>

                <td><input id="Text1" type="text" v-model="contact.AnnualDay" /></td>

                <td><input id="Text1" type="text" v-model="contact.EntryTime" /></td>
                <td>
                    <div v-if="contact.Id!=''">
                        <a href="javascript:void(0)" v-on:click="UpdateUsers(contact.Id,contact.DepartmentID, contact.TierID,contact.UserName, contact.UserNumber, contact.AnnualDay, contact.EntryTime)">修改</a>
                        <a href="javascript:void(0)" v-on:click="DeleteUsers(contact.Id)">删除</a>
                    </div>
                    <div v-else>
                        <a href="javascript:void(0)" v-on:click="addUser(contact.DepartmentName, contact.TierName,contact.UserName, contact.UserNumber, contact.AnnualDay, contact.EntryTime)">添加</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <script>
            var vm = new Vue({
                el: "#app",
                data: {
                    Id:"",
                    UserList: [],
                    //科室
                    DepartmentList: [],
                    DepartmentName: "请选择",
                    //职务
                    //DutyList: [],
                    //DutyName: "请选择",
                    //层级
                    TierList: [],
                    TierName: "请选择",
                },
                mounted() {
                    this.ShowUsers();
                    this.getDepartmentList();
                    //this.getDutyList();
                    this.getTierList();
                },
                methods: {
                    ShowUsers: function () {
                        axios.get('@Url.Action("Shows", "Users")').then(
                            (response) => {
                                console.log(response)
                                this.UserList = response.data;                      
                            },
                            (response) => {
                                alert(response.status);
                            }
                        ).catch(function (response) {
                            alert(response);
                        });
                    },
                    ///修改用户信息
                    UpdateUsers: function (Id, DepartmentID, TierID, UserName, UserNumber, AnnualDay, EntryTime) {
                        axios.post('@Url.Action("Update", "Users")', { users: { Id: Id, DepartmentID: DepartmentID, TierID: TierID, UserName: UserName, UserNumber: UserNumber, AnnualDay: AnnualDay, EntryTime: EntryTime } }).then(
                            (response) => {
                                if (response.data > 0) {
                                    alert("修改成功");
                                    this.ShowUsers();
                                }
                           
                         
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                    },
                    ///删除用户信息
                    DeleteUsers: function (Id) {
                        axios.post('@Url.Action("Delete", "Users")', { Id: Id }).then(
                        (response) => {
                            if (response.data > 0) {
                                alert("删除成功")
                                this.ShowUsers();
                            }
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                    },
                     ///获取科室的下拉菜单
                getDepartmentList: function () {
                    axios.get('@Url.Action("GetDepartments", "Users")').then(
                        (response) => {
                            console.log(response)
                            this.DepartmentList = response.data;                    
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                ///获取职务的下拉菜单
                @*getDutyList: function () {
                    axios.get('@Url.Action("GetDuties", "Users")').then(
                        (response) => {
                            console.log(response)
                            this.DutyList = response.data;                    
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },*@
                ///获取层级的下拉菜单
                getTierList: function () {
                    axios.get('@Url.Action("SelectTier", "Users")').then(
                        (response) => {
                            console.log(response)
                            this.TierList = response.data;                    
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
            },
                       
                  
    
    })
    </script>
</body>
</html>
