
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/axios.js"></script>
</head>
<body>
    <div id="app">

        <table class="table table-bordered">
            <tr>
                <td>ID</td>
                <td>职务名称</td>
                <td>层级ID</td>
                <td>权限ID</td>
                <td>编辑</td>
            </tr>
            <tr v-for="Duty">
                <td>
                    <input type="text" v-model="Id" />
                </td>
                <td>
                    <input type="text" v-model="DutyName" />
                </td>
                <td>
                    <input type="text" v-model="TierID" />
                </td>
                <td>
                    <input type="text" v-model="PowerID" />
                </td>

                <td>
                    <div v-if="Duty.Id!=''">
                        <a href="#" v-on:click="DutyUpdate(Id,DutyName,TierID,PowerID)">修改</a>
                        <a href="#" v-on:click="DutyDelete(Id)">删除</a>

                    </div>
                    <div v-else>
                        <a href="#" v-on:click="add(DutyName,TierID,PowerID)">添加</a>
                    </div>
                </td>
            </tr>

        </table>
        <div class="page-bar">
            <ul>
                <li v-if="cur>1"><a v-on:click="cur--,pageClick()">上一页</a></li>
                <li v-if="cur==1"><a class="banclick">上一页</a></li>
                <li v-for="index in indexs" v-bind:class="{ 'active': cur == index}">
                    <a v-on:click="btnClick(index)">{{ index }}</a>
                </li>
                <li v-if="cur!=all"><a v-on:click="cur++,pageClick()">下一页</a></li>
                <li v-if="cur == all"><a class="banclick">下一页</a></li>
                <li><a>共<i>{{all}}</i>页</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    var vm = new Vue({
        el: "#app",
        data: {
            DutyName: "",
            TierID: "",
            PowerID: "",
            all: 8, //总页数
            cur: 1//当前页码
        },
        watch: {
            cur: function (oldValue, newValue) {
            }
        },
        mounted() {
            this.getAllUser(this.cur);
        },
        methods: {
            searchUser: function (data) {
                    axios.get('@Url.Action("IndexShow", "Duty")', { params: { currentpage: 1, name: data }}).then(
                        (response) => {
                            //this.UserList = [];
                            this.cur = response.data.CurrentPage;
                            this.all = response.data.TotlePage;
                            for (var i = 0; i < response.data.PageData.length; i++) {
                                this.UserList.push(response.data.PageData[i]);
                            }
                          //  this.UserList.push({ Id: "", Name: "", Sex: ""});
                        },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });
            },
            btnClick: function (data) {//页码点击事件
                if (data != this.cur) {
                    this.cur = data;
                    this.getAllUser(data);


                }
            },
               pageClick: function () {
                  //console.log('现在在' + this.cur + '页');
                    this.getAllUser(this.cur);
                },
                getAllUser: function (id) {
                    axios.get('@Url.Action("GetDuties", "Duty")', { params: { currentpage: id }}).then(
                        (response) => {
                            //this.UserList = [];
                            this.cur = response.data.CurrentPage;
                            this.all = response.data.TotlePage;
                            for (var i = 0; i < response.data.PageData.length; i++) {
                                this.UserList.push(response.data.PageData[i]);
                            }
                          //  this.UserList.push({ Id: "", Name: "", Sex: ""});
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                addUser: function (name, sex, role) {
                    console.log(role);

                    axios.post('@Url.Action("DutyAdd", "Duty")', { user: { Name: name, Sex: sex, Role: role} }).then(
                        (response) => {

                            this.getAllUser(1);
                            //this.UserList = [];
                            //for (var i = 0; i < response.data.length; i++) {
                            //    this.UserList.push(response.data[i]);
                            //}
                            //this.UserList.push({ Id: "", Name: "", Sex: "", Role:"" });
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                updateUser: function (id, name, sex, role) {
                    axios.post('@Url.Action("DutyUpdate", "Duty")', { user: { Id: id, Name: name, Sex: sex, Role: role} }).then(
                        (response) => {
                            console.log(response);
                            if (response.data > 0) {
                                this.getAllUser(this.cur);
                            }
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                deleteUserById: function (id) {
                    axios.post('@Url.Action("DutyDelete", "Duty")', { id: id }).then(
                        (response) => {
                            if (response.data > 0) {
                                this.getAllUser(this.cur);
                            }
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
            },
            //计算属性
            computed: {
                indexs: function () {
                    var left = 1;
                    var right = this.all;
                    var ar = [];
                    if (this.all >= 5) {
                        if (this.cur > 3 && this.cur < this.all - 2) {
                            left = this.cur - 2
                            right = this.cur + 2
                        } else {
                            if (this.cur <= 3) {
                                left = 1
                                right = 5
                            } else {
                                right = this.all
                                left = this.all - 4
                            }
                        }
                    }
                    while (left <= right) {
                        ar.push(left)
                        left++
                    }
                    return ar
                }

            }
        });


</script>

